// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$color-black: #242f3b;
$color-black-l1: #374150;
$color-black-l2: #4a5562;


$color-silver: #8492A6;
$color-silver-l1: #99A9BF;
$color-silver-l2: #C0CCDA;
$color-silver-d1: darken($color-silver,5%);
$color-silver-d2: darken($color-silver,10%);;
$color-silver-d3: darken($color-silver,20%);;

$color-gray: #D3DCE6;
$color-gray-l1: #E5E9F2;
$color-gray-l2: #EFF2F7;
$color-dark-white: #F9FAFC;

$color-red : #b9381c;
$color-green: #579c64;
$color-orange : #E6A23C;

$color-danger :  #F56C6C;
$color-success : #67C23A;
$color-warning : #E6A23C;
$color-purple:   #7663af;
$color-info:     #909399;
$color-text-main: #303133;
$color-text-common: #606266;
$color-border: #d8dce7;
$color-placeholder: #C0C4CC;

//sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

$headerHeight:60px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
